<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # HTTPS yönlendirmesi (isteğe bağlı)
    # RewriteCond %{HTTPS} !=on
    # RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Public klasöründe olmayan dosyaları engelle
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

    # Dosya veya dizin yoksa index.php'ye yönlendir
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>